<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zwb.next">

    <!-- 申明依赖相机 -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 通话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 闹钟权限 -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- 外部存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 唤醒权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SampleListActivity" />
        <activity android:name=".activities.SamplePagerActivity" />

        <activity
            android:name=".activities.FilesActivity"
            android:label="文件示例"></activity>
        <activity
            android:name=".activities.NetworkActivity"
            android:label="网络示例"></activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="设置示例"></activity>
        <activity
            android:name=".activities.DatePickerActivity"
            android:label="日期示例"></activity>
        <activity
            android:name=".activities.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".application.camera.CameraActivity"></activity>
        <activity android:name=".activities.ContactsActivity"></activity>
        <activity android:name=".activities.WebViewActivity"></activity>

        <!-- 文件提供器 android 7.0+ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>